:root {
    --off-color: #26B5B8;
  }
  html {
    scroll-behavior: smooth;
  }
  .mainNav h1 span {
    transform: scaleX(-1);
    color: var(--off-color);
  }
  .mainNav > * {
    margin: 0;
  }

  h1{
    font-size: 3.052rem;
    letter-spacing: -0.15rem;
    line-height: 1;
  }

  p {
    font-size: 0.8rem;
    padding-top: 1.8rem;
    padding-right: 0.5rem;
    color:#C36646;
  }

  @media screen and (min-width: 700px) {
    .mainNav {
      display: flex;
      align-items: center;
    }
  }
  
  .mainNav h1 {
    margin-right: auto;
  }

  :root {
    --color: #272727;
    --background-color: white;
    --caret-color: #272727;
    --text-decoration-color: #c0bfc0;
    --text-decoration-color-hover: #272727;
    --input-border-color: #f6f6f6;
    --input-background-color: #f6f6f6;
    --input-color: #343334;
    --input-invalid-border-color: #ff7d87;
    --input-checkbox-border-color: #d8d8d8;
    --table-border-color: #d8d8d8;
    --table-header-color: #d8d8d8;
    --checkbox-checked-url: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="78.369" height="78.369" viewBox="0 0 78.369 78.369"><path fill="white" d="M78.05 19.015l-48.592 48.59c-.428.43-1.12.43-1.548 0L.32 40.016c-.427-.426-.427-1.12 0-1.547l6.704-6.704c.428-.427 1.12-.427 1.548 0l20.113 20.112 41.113-41.113c.43-.427 1.12-.427 1.548 0l6.703 6.704c.427.427.427 1.12 0 1.548z"/></svg>');
    --select-background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.304 125.304"><path d="M62.652 103.895L0 21.41h125.304" fill="%23343334"/></svg>');
    /*not changed in dark mode*/
    --input-focus-border-color: #5aaafa;
    --kbd-color: #343334;
    --kbd-background-color: #f9f9f9;
    --kbd-border-color: #d8d8d8;
    --kbd-border-bottom-color: #a6a5a6;
    --abbr-border-bottom-color: #949394;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color: rgb(0, 0, 0);
      --background-color: #ffffff;
      --caret-color: rgb(0, 0, 0);
      --text-decoration-color: #777677;
      --text-decoration-color-hover: rgb(0, 0, 0);
      --input-border-color: #595859;
      --input-background-color: #595859;
      --input-color: rgb(0, 0, 0);
      --input-checkbox-border-color: rgb(0, 0, 0);
      --table-border-color: #595859;
      --table-header-color: #595859;
      --checkbox-checked-url: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="78.369" height="78.369" viewBox="0 0 78.369 78.369"><path fill="%23343434" d="M78.05 19.015l-48.592 48.59c-.428.43-1.12.43-1.548 0L.32 40.016c-.427-.426-.427-1.12 0-1.547l6.704-6.704c.428-.427 1.12-.427 1.548 0l20.113 20.112 41.113-41.113c.43-.427 1.12-.427 1.548 0l6.703 6.704c.427.427.427 1.12 0 1.548z"/></svg>');
      --select-background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.304 125.304"><path d="M62.652 103.895L0 21.41h125.304" fill="%23ffffff"/></svg>');
    }
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
  }
  
  html {
    font-size: calc(18px + ((100vw - 600px) / 250));
    font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
      "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial,
      sans-serif;
    margin: 0;
    padding: 0;
    text-decoration-skip-ink: "auto";
  }
  
  body {
    padding: 0;
    margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
    font-weight: 400;
    line-height: 1.563;
    color: var(--color);
    background-color: var(--background-color);
    caret-color: var(--caret-color);
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
    padding-top: 1.5vw;
  }
  
  /* Typography
      ––––––––––––––––––––––––––––––––– */

      .brandList ol {
        list-style-type: none;
      }
      .brandList li {
        border-bottom: 1px solid #d8d8d8;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
      }
      .brandList a {
        text-decoration: none;
        display: block;
        width: 100%;
        color: black;
      }
      .brandList li::after {
        display: block;
        width: 20px;
        height: 20px;
        content: "";
        transition: all 0.3s;
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 14"><path fill="none" stroke="white" d="M.8 12.87l7.5-6-7.5-6"></path></svg>');
        background-repeat: no-repeat;
        /* url('data:image/svg+xml;utf8,<svg class="svg-arrowRight" viewBox="0 0 9 14"><path fill="none" stroke="#979797" d="M.8 12.87l7.5-6-7.5-6"></path></svg>'); */
      }
      .brandList li:hover {
        background: #d8d8d8;
        transition: transform 0.3s;
      }
      .brandList li:hover::after {
        transform: translateX(8px);
      }
      
      @media screen and (min-width: 800px) {
        .brandList ol {
          column-count: 2;
        }
      }
